body {
  overflow-x: hidden;
  overflow-y: unset;
}

.cabeca {
  width: 100%;
  height: 100vh;
}

.bannerConteiner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.titulo {
  font-family: var(--font-estilizada);
  font-size: clamp(0.875rem, 0.65rem + 1.125vw, 2rem);
  color: rgb(234, 253, 236);
  font-weight: 700;
  text-align: center;
  filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
  position: absolute;
  position: fixed;
  z-index: -1;
  margin: 0 auto;
  border-right: 2px solid rgb(234, 253, 236);
  white-space: nowrap;
  overflow: hidden;
  padding-right: 5px;
}

.typing-animation {
  animation: blink 300ms infinite normal,
    escrevendo 10s steps(40) 1s infinite normal both;
}

@keyframes escrevendo {
  0% {
    width: 22em;
  }

  50% {
    width: 0;
  }

  100% {
    width: 22em;
  }
}

@keyframes blink {
  from {
    border-right-color: rgb(234, 253, 236);
  }

  to {
    border-right-color: transparent;
  }

}

.banner {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.videoBanner {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.principal {
  background-color: var(--cor-fundo);
  width: 100vw;
  height: auto;
  z-index: 3;
  box-shadow: 0px -100px 50px rgba(53, 56, 55, 0.5);
  padding: 200px 0 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.exerciciosGerais{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exerciciosGerais_titulo{
  font-size: clamp(0.875rem, 0.65rem + 1.125vw, 2rem);
  color: var(--cor-dark);
  font-family: var(--font-estilizada);
  font-weight: 700;

}

.container_exercicio_geral {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vw;
}

.exercicio_geral_card {
  width: 250px;
  height: 300px;
  background-color: var(--cor-amarelo);
  border-top-left-radius: 20px;
  box-shadow: 10px 10px 20px rgba(50, 55, 55, 0.5);
  display: flex;
  justify-content: center;
}

.exercicio_geral_card:hover {
  scale: 0.9;
  box-shadow: none;
}

.bloco {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.titulo_bloco {
  text-decoration: none;
  font-family: var(--font-one);
  font-size: 32px;
  font-weight: 400;
  color: var(--cor-azul);
}

@media (max-width: 890px) {
  .container_exercicio_geral {
    flex-direction: column;
  }
}

footer{
  background-color: var(--cor-dark);
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 30px; 
}

footer p {
  color: var(--cor-white);
}

footer a {
  text-decoration: none;
  color: var(--cor-white);
}

